body {
    min-height:100%;
}
.va-welcome-div
{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff1a00+51,ff1a00+77,ff9084+98 */
    min-width:100%;
    min-height:100%;
    max-height:100%;
    background: #ff1a00; /* Old browsers */
    background: -moz-linear-gradient(top, #ff1a00 51%, #ff1a00 77%, #ff9084 98%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ff1a00 51%,#ff1a00 77%,#ff9084 98%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ff1a00 51%,#ff1a00 77%,#ff9084 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1a00', endColorstr='#ff9084',GradientType=0 ); /* IE6-9 */
}
